        
        
 body {
background-color: #FFFDD0;
 margin: 0 10%;
font-family: sans-serif;
}
h1 {
text-align: left;
font-family: serif;
font-weight: normal;
text-transform: uppercase;
border-bottom: 1px solid #d1633c;
 margin-top: 30px;
}
h2 {
color: #d1633c;
font-size: 1em;
}
header{
    background-color: aquamarine;
}