        
        
 body {
background-color: #FFFDD0;
background-image: url("../assignments/krusty_krab.png");
 margin: 0 10%;
font-family: sans-serif;
}
h1 {
text-align: left;
font-family: serif;
font-weight: normal;
text-transform: uppercase;
border-bottom: 1px solid #d1633c;
 margin-top: 30px;
}
h2 {
color: #d1633c;
font-size: 1em;
}
p {
    color: #DDD618;
}
header{
    background-color: aquamarine;
}

.about-us-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.our-work-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact-us-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}